.ReviewEventRequest {
    margin: 75px auto 10px auto;
    width: 100%; /* Content width excluding AdminHeader and Footer */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    padding: 0 20px; /* Added padding for better spacing */
    box-sizing: border-box; /* Include padding in width calculation */
}

.ReviewEventRequest .table-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
}
.ReviewEventRequest .table-heading h2 {
    width: 100%;
    align-items: center;
    font-weight: bold;
    height: 5vh;
    display: flex;
    background: linear-gradient(to right, #00B562 0.7vw, rgb(196, 239, 196) 0.5vw);
    padding-left: 2vh;
    color: black;
    min-width: 70vw;
}

.ReviewEventRequest .search_text_conatiner {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 10px 0;
    gap: 10px;
}

.ReviewEventRequest .search_input_field {
    padding: 5px;
    width: 25%;
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    transition: border-color 0.3s;
    outline: #c6c6c6;
}

/* Style the input field border when it's focused */
.ReviewEventRequest .search_input_field:focus {
    border-color: #3e82ff;
}

/* Style the placeholder text */
.ReviewEventRequest .search_input_field::placeholder {
    color: #999;
}


.ReviewEventRequest .search_input_calender {
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    padding: 4px;
}

.ReviewEventRequest .search_input_calender:focus {
    border-color: #3e82ff;
    outline: none;
}

.ReviewEventRequest .eventdetails-tab {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    gap: 40px;
    margin-bottom: 10px;
}

.ReviewEventRequest .eventdetails-tab div {
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000031;
    border: 1px solid #00000031;
}

.ReviewEventRequest .eventdetails-tab div:hover {
    cursor: pointer;
    background: #00B562;
    color: white;
}

.ReviewEventRequest .eventdetails-tab .active {
    background: #00B562;
    color: white;
}

.ReviewEventRequest .eventdetails-cardsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    width: 100%;
    border: none;
    min-height: 100px;
    height: fit-content;
    overflow-y: scroll;
}

.ReviewEventRequest .eventdetails-carddetails {
    width: 100%;
    height: 30%;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    padding: 12px;
    background: #E9E9E9;
    display: flex;
    gap: 10px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.ReviewEventRequest .eventdetails-photo {
    width: 25%;
    height: 100%;
}

/* .ReviewEventRequest .eventdetails-photo img {
    width: 25%;
    height: 100%;
} */

.ReviewEventRequest .eventdetails-details {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.5rem;
}

.ReviewEventRequest .eventdetails-details-eventname {
    font-weight: bold;
    font-size: 16px;
}

.ReviewEventRequest .eventdetails-details-eventAddress {
    font-size: 16px;
}

.ReviewEventRequest .eventdetails-details-eventTime {
    font-size: 16px;
}

.ReviewEventRequest .Event-Details-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: green;
    color: white;
    width: 20%;
    height: 100%
}

@media screen and (max-width: 768px) {
    .ReviewEventRequest .eventdetails-tab {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .ReviewEventRequest .eventdetails-cardsection {
        gap: 20px;
    }

    .ReviewEventRequest .eventdetails-carddetails {
        height: 30%;
        padding: 10px;
        font-size: 18px;
        line-height: 22px;
    }

    .ReviewEventRequest .search_text_conatiner {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .ReviewEventRequest .search_input_field {
        font-size: small;
        padding: 5px;
        margin-top: 6px;
    }

    .ReviewEventRequest .eventdetails-tab div {
        font-size: small;
        padding: 5px;
        width: 100%;
    }

    .ReviewEventRequest .search_input_calender {
        border: 1px solid rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        font-size: small;
        padding: 5px;
    }

}

@media screen and (max-width: 575px) {
    .ReviewEventRequest .eventdetails-tab {
        width: 100%;
        gap: 20px;
    }

    .ReviewEventRequest .eventdetails-tab div {
        font-size: 9px;
        padding: 5px;
    }

    .ReviewEventRequest .eventdetails-cardsection {
        gap: 20px;
    }

    .ReviewEventRequest .eventdetails-carddetails {
        min-height: 80px;
        height: auto;
        width: 100%;
        padding: 0px;
        font-size: 14px;
        line-height: 18px;
    }

    .ReviewEventRequest .eventdetails-photo img {
        width: 25%;
        height: 100%;
    }

    .ReviewEventRequest .eventdetails-details-eventname {
        font-weight: 600;
        font-size: 12px;
    }

    .ReviewEventRequest .eventdetails-details-eventAddress {
        font-weight: 300;
        font-size: 9px;
    }

    .ReviewEventRequest .eventdetails-details-eventTime {
        font-size: 9px;
    }

    .ReviewEventRequest .eventdetails-eventbutton {
        padding-inline: 8px;
        font-size: xx-small;
        width: max-content;
    }

    .ReviewEventRequest .search_text_conatiner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .ReviewEventRequest .search_input_calender {
        border: 1px solid rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        font-size: xx-small;
        padding: 2px;
    }


}

@media screen and (max-width: 300px) {
    .ReviewEventRequest .eventdetails-tab {
        width: 100%;
        gap: 20px;
    }

    .ReviewEventRequest .eventdetails-tab div {
        font-size: 11px;
        border-radius: 8px;
        padding: 4px;
    }

    .ReviewEventRequest .eventdetails-carddetails {
        height: 100px;
        padding: 10px;
        font-size: 9px;
        line-height: 11px;
    }
}