/* Search_card.css */
.w {
    /* width: 75%; */
    width: 94vw;
    margin: auto;
    margin-top: 18vh;
  }

  /* .mt-20 .slick-slider .slick-list .slick-track{
    transform: translate3d(0px, 0px, 0px);
  } */
  .slick-slider .slick-list .slick-track {
    transform: translate3d(0px, 0px, 0px);
  }
  
  
  .m-auto {
    margin: auto; 
  }

  /* .carousel-images{
    width: auto;
  } */
   .carousel{
    display: flex;
   }
  
  .heading-text {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .heading-text p {
    font-size: 37px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: -48px;
    display: flex;
    position: relative;
  }
  
  .heading-text p::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -10px; 
    left: 0;
    background-color: #4f46e5; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .heading-text p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .mt-20 {
    margin-top: 20px; 
    /* width: 50vw; */
    width: 94vw;
  }
  
  .custom-card {
    background-color: #ffffff;
    height: 350px; 
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    position: relative;
  }
  
  .custom-header {
    height: 200px; 
    background-color: #4f46e5; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-image {
    height: 176px; 
    width: 176px; 
    border-radius: 50%;
    object-fit: cover;
  }
  
  .custom-content {
    padding: 20px; 
  }
  
  .custom-name {
    font-size: 18px; 
    font-weight: bold; 
  }
  
  .custom-review {
    font-size: 14px; 
    color: #666666; 
  }
  
  .slick-next:before {
    color: black;
    font-size: 25px;
  }
  
  .slick-prev:before {
    color: black;
    font-size: 25px;
  }
  
  /* Card styling */
  .park-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin: 20px;
    border-radius: 18px;
    background-color: #E0F8E5;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .park-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .Card_img {
    border-radius: 15px;
    height: 20vh;
    min-width: 14vw;
    width: 100%;
    object-fit: cover;
  }
  
  .card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
  }
  
  .park_name {
    font-size: 15px;
    font-weight: 600;
    color: #212121;
    margin-bottom: 5px;
  }
  
  .park_location {
    font-size: 13px;
    color: #2f2f2f;
  }
  
  .distance {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .Available {
    color: rgb(1, 158, 17);
    font-size: 18px;
    font-weight: 700;
  }


  /* Css to override grallery  */
  .carousel-images{
    width: auto;
  }
  .park-card{
    width: max-content;
  }

  .galleryTitleLeft2 {
    display: flex;
    gap: 1vw;
}
  .galleryTitleLeft2 h1{
    font-size: 28px;
    color: #2a2d32;
}

  .greenHeader2{
    width: 6px;
    height: 49px;
    border-radius: 4px;
    background-color: #3ab757;
  }
  
  /* Responsive settings */
  @media screen and (max-width: 768px) {
    .slick-slide {
      display: block !important; /* Ensure each slide takes full width on smaller screens */
      padding: 0 15px; /* Add padding for visual spacing */
      transform: none !important; /* Reset any transformation */
    }
  
    .slick-slider .slick-prev,
    .slick-slider .slick-next {
      display: block; /* Show navigation arrows on smaller screens */
    }
  }
  
  /* .slick-track {
    display: flex !important;
    transform: translate3d(0px, 0px, 0px);
  } */