.footer-container {
  bottom: 0;
  width: 100vw;
}

.right-section-footer {
  width: 40%;
  display: flex;
  justify-content: center;
}

.middle-section,
.middle-right-section,
.last-right-section {
  width: 30%;
}

.middle-section,
.middle-right-section,
.last-right-section ul li {
  font-size: 15px;
  font-weight: 400;
  padding: 0;
  margin: 5px;
}

.middle-section,
.middle-right-section,
.last-right-section ul {
  margin: 20px;
}

.footer-container {
  background-color: #f2f2f2;

  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap when container becomes too small */
  justify-content: space-between;
}

.left-section {
  width: 60%;
}


/* Media query for screens below 800px */
@media screen and (max-width: 800px) {
  .footer-container {
    display: flex;
    justify-content: center;
  }

  .ama-bhoomi-info h1 {
    font-size: 30px;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .right-section-footer {
    order: 3;
    /* Change the order of the section to display below the left section */
  }

  .right-section-footer {

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .middle-section,
  .middle-right-section,
  .last-right-section {
    width: 100%;
  }

  .middle-section,
  .middle-right-section,
  .last-right-section ul li {
    font-size: large;
  }

  .last-right-section {
    margin-left: 30px;
  }

}

.ama-bhoomi-info h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.app-download p {
  margin-top: 10px;
  font-size: large;
  font-weight: 500;
  float: left;
}

.input-with-icon {
  display: flex;
  align-items: center;
}

.input-with-icon input[type="text"] {
  width: 65%;
  height: 20px;
  margin-top: 8px;
  padding: 19px;
  border-radius: 5px;
  border: 1px solid #7b7b7b;
}

.input-icon {
  border: 1px solid #7b7b7b;
  border-radius: 5px;
  height: 36px;
  width: 33px;
  margin-top: auto;
}

.app-store-icons img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.last-right-section .middle-section .middle-right-section ul {
  list-style-type: none;
  padding: 10;
}

.last-right-section .middle-section .middle-right-section ul li {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.last-right-section .middle-section .middle-right-section ul li a:hover {
  color: black;
  transition: 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.middle-section ul li {
  text-align: center;
}

.last-right-section ul li {
  text-align: right;
}

.middle-right-section {
  width: 15%;
  text-align: center;
}

.middle-right-section ul {
  list-style-type: none;
  padding: 0;
}

.middle-right-section ul li {
  margin-bottom: 5px;
  /* font-size: 14px; */
}

.app-store-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: 28px;
}

.app-store-icons img {
  width: 100px;
  margin-right: 10px;
}

/* Media query for screens below 400px */
@media screen and (max-width: 413px) {
  * {
    font-size: 12px;
  }

  .app-store-icons {
    margin-top: 0px;
  }

  .right-section-footer {
    margin-top: -25px;
  }

  .input-with-icon {
    margin-right: 66px;
  }



  .Amam_text {
    font-size: 26px;
  }

  .p_text_ama {
    font-size: 12px;
  }

  .donwload_name {
    font-size: 15px;
}

.App_download {
  padding-top: 8px;
}
}

@media screen and (max-width: 550px) {
  * {
    font-size: 13px;
  }

  .app-store-icons {
    margin-top: 0px;
  }

  .Amam_text {
    font-size: 26px;
  }

  .p_text_ama {
    font-size: 12px;
  }

  .donwload_name {
    font-size: 15px;
}

.App_download {
  padding-top: 8px;
}
}