/* css of table */

.Main_Conatiner_table{
  margin-top: 70px;
}
.table_Container{
  
    overflow-y: auto;
    max-height: 700px;
}

  .search_text_conatiner{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    }
   
    .search_input_field {
      padding: 5px;
      width: 30vh;
      border: 2px solid #12a217;
      border-radius: 5px; 
      transition: border-color 0.3s; 
  }

  /* Style the input field border when it's focused */
  .search_input_field:focus {
      border-color: #00ff00; 
  }

  /* Style the placeholder text */
  .search_input_field::placeholder {
      color: #999; 
      font-style: italic; 
  }
  .search_input_field:focus {
    width: 35vh;
  }
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  background-color: #3e82ff;
  color:#f8f8f8;

}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Specify the background color for odd rows */
}
tbody tr:nth-child(even) {
  background-color: #f0f0f0; /* Specify the background color for even rows */
}





@media screen and (max-width: 892px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
