.activity_preference_popup{
    height:400px;
    width: 41vw;
    margin-top: 20%;
    margin-bottom: 20%;
}
/* Activity_Preference_popup.css */

.activity_preference_popup {
    padding: 20px;
    background-color: #f9f9f9;
    /* min-height: 100vh; */
  }
  
  .activity-preference {
    margin-bottom: 20px;
  }
  
  .activity-preference span {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .games {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .game-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .game-btn.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .game-btn:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .other-activities {
    margin-top: 20px;
  }
  
  .other-activities label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-field-otheractivities {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  