.activity_preference_popup {
  height: 556px;
  width: 20%;
  margin-top: 20%;
  margin-bottom: 20%;
}
/* Activity_Preference_popup.css */

.activity_preference_popup {
  padding: 20px;
  background-color: #f9f9f9;
  /* min-height: 100vh; */
}

.activity-preference {
  margin-bottom: 20px;
}

.activity-preference span {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.games {
  display: flex;
  flex-wrap: wrap;
}

.game-btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.game-btn.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.game-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.other-activities {
  margin-top: 20px;
}

.other-activities label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-field-otheractivities {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.activity_preference_popup {
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .activity_preference_popup {
    padding: 36px;
    background-color: #f9f9f9;
    height: max-content;
    width: 32%;
    margin-top: 20%;
    margin-bottom: 20%;
    /* margin-left: 32%; */
    margin-left: 0%;
    border-radius: 12px;
  }
}

@media screen and (min-width: 530px) {
  .activity_preference_popup {
    width: 46%;
    /* margin-left: 27%; */
    margin-left: 25%;
    height: fit-content;
    z-index: 100;
    max-height: 74vh;
        overflow-y: scroll;
  }
}
