.con{
    background-color: rgb(255, 255, 255);
    height:450px;
    width: 40vw;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 120PX;
}
.icon-close{
    float: right;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-right: 5px;
}
.VisitingPeople p{
    color: aliceblue;
}
.member-details{
    margin-top: 30px;
}





.popup-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    border-radius: 10px;
    width: 40vw;
    padding: 20px;
    position: relative;
  }
  
  .popup-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .icon-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .popup-body {
    padding: 20px 0;
  }
  
  .popup-title {
    margin-bottom: 35px;
    font-size:larger;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .member-details {
    margin-top: 20px;
  }
  
  .member-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .label {
    flex: 1;
  }
  
  .duration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    padding: 10px;
  }
  
  .duration-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-input {
    text-align: center;
    width: 50px;
    margin: 0 10px;
  }
  
  .popup-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancel-button, .next-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cancel-button {
    background-color: #dc3545;
  }
  