.con {
  background-color: rgb(255, 255, 255);
  height: 450px;
  width: 20vw;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 120px;
}
.icon-close {
  float: right;
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-right: 5px;
}
.VisitingPeople p {
  color: aliceblue;
}
.member-details {
  margin-left: 15%;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  border-radius: 10px;
  width: 30%;
  padding: 10px;
  position: relative;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
}

.icon-close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.popup-body {
  padding: 2%;
}

.popup-title {
  font-size: 18px;

  text-align: center;
  font-weight: 600;
}

.member-details {
  margin-top: 20px;
}

.member-row {
  margin-bottom: 15px;
}

.member-row label {
  display: block;
  font-size: 15px;
  color: rgb(57, 55, 55);
}
/* input filed (Increamenent and decreament */

.increament_decrement_conatiner {
  position: relative;
  display: inline-block;
}

.formInput_Add_member {
  /* width: 220px;  */
  width: 20vw;
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.decrement-button,
.increment-button {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.decrement-button {
  left: 0;
  padding: 5px;
  border: 1px dotted rgb(182, 178, 178);
  font-size: 20px;
  font-weight: 900;
}
.decrement-button :hover {
  font-size: 21px;
  font-weight: 900;
  color: #007bff;
}

.increment-button {
  right: 0;
  padding: 5px;

  border: 1px dotted rgb(182, 178, 178);
  font-size: 20px;
  font-weight: 900;
}
.increment-button :hover {
  font-size: 21px;
  font-weight: 900;
  color: #007bff;
}

.custom-input {
  text-align: center;
  width: 50px;
  margin: 0 10px;
}

.popup-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button01,
.next-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-button01 {
  background-color: #dc3545;
}



@media screen and (max-width: 1400px) {
  .popup-content {
    /* width: 33%; */
    width: max-content;
    padding-inline: 2%;
  }
  .member-row label {
    width: fit-content;
  }
  .member-row {
    width: fit-content;
  }
  .member-details {
    width: fit-content;
  }
  .popup-title {
    text-align: center;
  }
  .popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popup-footer {
    width: 100%;
  }
  .member-details {
    margin-left: 0%;
  }
}

@media screen and (max-width: 1024px) {
  .popup-content {
    width: 44%;
  }
  .cancel-button01,
  .next-button {
    padding: 10px 20px;
    width: auto;
  }
  .member-row label {
    width: fit-content;
  }
  .popup-footer {
    width: 100%;
  }
  .member-details {
    width: fit-content;
  }
  .member-row {
    width: fit-content;
  }
  .formInput_Add_member {
    width: 30vw;
    text-align: center;
  }
  .popup-body {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member-details {
  margin-left: 0%;
}
}
