.FQA_Main_Conatiner{

}
.Fqa_Child_Conatiner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Fqa_Child_Ask_QUESTION{
  display: flex;
  height: 40vh;
  padding-top: 50px;
  justify-content: space-evenly;
  background-color: hsl(155, 49%, 86%);
}
.Fqa_Child_Ask_QUESTION_text{
    margin-top: 50px;
}
.FQA_IMAGE{
    height: 30vh;
    margin-top: 20px;
 
}
.FQA_TEXT{
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    color: hsl(20deg 4.92% 11.96%);
}
.Have_q_text{
    color:hsl(0, 1%, 18%) ;
    font-weight: 400;

 
}

.freq_question{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: rgb(63, 63, 63);
}
.Freq_ask_conatiner{
 
}
.faq-section {
  max-width: 800px;
  margin: 0 auto;
}

.faq-title {
  text-align: center;
  font-size: 24px;
}

.faq-container {
  margin-top: 20px;
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-item.active {
  border-color: #037b3d;
}

.question {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.question-text {
  display: flex;
  gap: 10px;
}

.icon {
  font-size: 18px;
}

.answer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.answer p {
  margin: 0;
}
.Radio_Button {
    background-color: #e82c88;
    border: none;
    border-radius: 100%;
    padding: 5px; /* Adjust padding as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .question-icon {
    color: #fff;
  
  }
  .Question_name{
    font-size: 17px;
    color: rgb(72, 71, 71);
  }