
.FQA_Main_Conatiner {}

.Fqa_Child_Conatiner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Fqa_Child_Ask_QUESTION {
  height: 50vh;
  width: 100%;
}

.Fqa_Child_Ask_QUESTION_text {
  margin-top: 50px;
}

.FQA_IMAGE {
  height: 30vh;
  margin-top: 20px;

}

.FQA_TEXT {
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  color: hsl(20deg 4.92% 11.96%);
}

.Have_q_text {
  color: hsl(0, 1%, 18%);
  font-weight: 400;


}

.freq_question {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: rgb(63, 63, 63);
}

.Freq_ask_conatiner {}

.faq-section {
  max-width: 800px;
  margin: 0 auto;

}

.fqa-body {
  /* background-image: url('../../../assets/faq_ing.png'); */
  width: 100%;
  /* height: 100vh; */
  min-height: 50vh;
}

.faq-title {
  text-align: center;
  font-size: 24px;
}

.faq-container {
  margin-top: 20px;
}

.faq-item-1, .faq-item-2, .faq-item-3, .faq-item-4, .faq-item-5, .faq-item-6, .faq-item-7, .faq-item-8, .faq-item-9, .faq-item-10, .faq-item-11 {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-item-1 .factive1, .faq-item-2 .factive2, .faq-item-3 .factive3 .faq-item-4 .factive4, .faq-item-5 .factive5, .faq-item-6 .factive6, .faq-item-7 .factive7, .faq-item-8 .factive8, .faq-item-9 .factive9, .faq-item-10 .factive10, .faq-item-11 .factive11 {
  border-color: #037b3d;
}

.faq-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  color: #555;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #019306;
  padding-bottom: 5px;
}

.question {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.question-text {
  display: flex;
  gap: 10px;
}

.icon {
  font-size: 18px;
}

.answer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.answer p {
  margin: 0;
}

.Radio_Button {
  background-color: #e82c88;
  border: none;
  border-radius: 100%;
  padding: 5px;
  /* Adjust padding as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.question-icon {
  color: #fff;

}

.Question_name {
  font-size: 17px;
  color: rgb(72, 71, 71);
}

/* css for Mobile  */
@media only screen and (max-width: 768px) {
  .Fqa_Child_Ask_QUESTION {
    display: flex;
    height: 45vh;
    padding-top: 50px;
    justify-content: space-evenly;
    background-color: hsl(155, 49%, 86%);
  }

  .Fqa_Child_Ask_QUESTION_text {
    margin-top: 50px;
  }

  .FQA_IMAGE {
    height: 20vh;
    margin-top: 70px;
    margin-right: 40px;

  }

  .FQA_TEXT {
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    color: hsl(20deg 4.92% 11.96%);
  }

  .Have_q_text {
    color: hsl(0, 1%, 18%);
    font-weight: 400;
    font-size: 10px;
  }

  .freq_question {
    font-size: 25px;

  }

  .faq-title {
    text-align: center;
    font-size: 17px;
  }

  .faq-container {
    margin-top: 20px;
    width: auto;
    margin: 10px;

  }
}