.container-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18vh;
    margin-bottom: 18vh;
}

.headingHeader {
    max-width: 100%;
    width: 94vw;
    /* align-items: center; */
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(to right, #00B562 0.7vw, rgb(196, 239, 196) 0.5vw);
    height: 32px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.greenBar {
    width: 6px;
    height: 32px;
    background-color: green;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.heading-title {
    font-size: large;
    font-weight: bold;
    color: black;
}


.create-role-resource-mapping-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
    max-width: 100%;
    width: 95vw;
}

.left-container {
    border: 1px solid black;
    max-width: 50vw;
    width: 50vw;
    max-height: 40vh;
    height: 40vh;
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 2vw;
    border: 0.0833vw solid #ccc;
    border-radius: 0.417vw;
    background-color: ghostwhite;
}


.ChildCheckBox {
    padding-left: 2vw;
}

.CheckBoxCRRM {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 1vh;
}

.submit-container button {
    cursor: pointer;
    padding: 8px;
    background-color: green;
    color: white;
    border-radius: 8px;
}

.parentCreateRoleResMap select {
    width: 24vw;
    height: 100%;
    padding: 0.625vw;
    border: 2px solid #ccc;
    border-radius: 0.417vw;
    background-color: ghostwhite;
}


/* Add a scrollbar to the right side of the left container */
.left-container::-webkit-scrollbar {
    width: 8px;
}

/* Customize scrollbar track */
.left-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Customize scrollbar thumb */
.left-container::-webkit-scrollbar-thumb {
    background: #888;
}

.right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4vw;
}


@media (max-width: 768px) {

    /* Styles for screens smaller than 768px (mobile) */
    .container-parent {
        flex-direction: column;
        /* Reverse order on mobile */
        margin-top: -12vh;
    }


    .create-role-resource-mapping-container {
        flex-direction: row;
        justify-content: space-between;
        /* Stack components vertically on mobile */
    }

    .left-container,
    .right-container {
        width: 40vw;
        /* Make each container full width on mobile */
    }

    .left-container {
        height: 28vh;
        max-width: 40vw;
        /* Remove max-height to allow content to flow */
        overflow-y: auto;
        overflow-x: auto;

    }

    .right-container {
        width: 30vw;
    }
}