

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-end;
}

.checkBox {
    display: block;
    width: 24vw;
}

.selectInput {
    text-transform: none;
    width: 24vw;
    padding: 0.625vw;
    border: 0.0833vw solid #ccc;
    border-radius: 0.417vw;
    background-color: ghostwhite;
}

@media screen and (max-width: 760px) {
    .form-row {
        flex-direction: column;
        align-items: start;
    }

    .checkboxLabel {
        font-weight: bold;
        font-size: small;

    }

    .selectInput{
        width: 100%;
    }
}