body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.booking-dtails-container {
  box-sizing: border-box;
  width: 90vw;
  padding: 10px;
  margin-top: 5%;
  margin-left: 4%;
  display: flex;
  /* gap: 15%; */
  gap: 0%;
}
.right-container-favorite_booking_details {
  height: 90vh;
}
.user-profile-section {
  width: 20vw;
  flex-shrink: 0;
  /* Prevent shrinking of the user profile section */
}
.icon-user {
  width: 40px;
  height: 40px;
}
.buttons-profile {
  margin-top: 15px;
}
.buttons-profile button {
  background-color: #d9d9d9;
  border: 1px solid white;
  padding: 10px;
  margin: 5px;
  color: black;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
}
.buttons-profile button:hover {
  background-color: #00b562;
  transition: 0.3s;
}
.right-container-booking-details {
  flex: 1;
  overflow: auto;
}
.logout-button {
  margin-top: 5px;
  margin-left: 3px;
}
/* right section */
.filterSctions {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-block: 2vh;
}

.filterCard {
  width: max-content;
}

.filter-dropdown label {
  font-size: small;
  width: max-content;
}
.bookingDetailsSorting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.eventdetails-tab {
  display: flex;
  justify-content: space-evenly;
  /* width: 625px; */
  gap: 40px;
  width: 70%;
  margin-bottom: 10px;
}
.eventdetails-tab div {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000031;
  border: 1px solid #00000031;
}
.eventdetails-tab div:hover {
  cursor: pointer;
  background: #00b562;
  color: white;
}
.eventdetails-tab .active {
  background: #00b562;
  color: white;
}
.eventdetails-cardsection_Bd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  width: 830px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  height: 1050px;
  overflow-y: scroll;
  /* overflow: hidden; */
}

.eventdetails-cardsection_Bd::-webkit-scrollbar {
  display: none;
}
.eventdetails-carddetails {
  border: 1px solid #b9b9b97d;
  width: 800px;
  height: 144px;
  border-radius: 10px;
  padding: 12px;
  background: #e9e9e9;
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.eventdetails-photo img {
  width: 190px;
  height: 120px;
}
.eventdetails-details {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.eventdetails-details-eventname {
  font-weight: bold;
  font-size: 16px;
}
.eventdetails-details-eventAddress {
  font-size: 14px;
}
.eventdetails-details-eventTime {
  font-size: 11px;
}
.eventdetails-eventbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: green;
  color: white;
  width: 92px;
  height: 21px;
}
/* Footer */
.common-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*--------------------- Filter CSS  ---------*/
.filter_option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 5px;
  height: 35px;
}

.filter-icon {
  color: #029c3d;
}

.main__body__park {
}

.filter-container {
  position: relative;
  display: inline-block;
}

.filter_option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.filter_option:hover {
  background-color: #f0f0f0;
}

.filter-icon {
  margin-right: 5px;
}

.text-filter {
  font-size: 14px;
}

.filter-dropdown {
  /* display: block; */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
  width: 400px;
}

.filter-dropdown label {
  display: block;
  padding: 5px 0;
}

.filter-dropdown input {
  margin-right: 5px;
}

.common-footer {
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 760px){
    .booking-dtails-container{
        flex-direction: column;
        margin-left: 0px;
        width: 100%;
    }

    .text-filter {
        font-size: 11px;
    }
    .filter_option {
        gap: 0px;
        padding: 7px;
        height: 26px;
    }
    .eventdetails-tab {
        width: 100%;
    }
    .booking-dtails-container{
        margin-top: 14%;
    }
    .eventdetails-tab div {
        font-size: 11px;
    }
    .eventdetails-photo img {
        width: 110px;
        height: auto;
    }
    .eventdetails-details-eventname {
        font-size: 13px;
    }
    .eventdetails-details-eventAddress {
        font-size: 11px;
    }
    .booking-date{
        font-size: 11px;
    }
    .eventdetails-eventbutton {
        font-size: 9px;
        width: 60px;
        height: 18px;
        margin-top: 6px;
    }
    .eventdetails-carddetails{
        width: 100%;
    }
    .eventdetails-cardsection_Bd {
        width: 100%;
        gap: 8px;
    }
    .booking-dtails-container {
        align-items: center;
    }
}


@media screen and (max-width: 1366px){
    .right-container-favorite {
        /* width: 100%; */
        width: max-content;
    }
    .eventdetails-photo img {
        width: 130px;
        height: auto;
    }
    .eventdetails-details {
        width: 100%;
    }
    .eventdetails-carddetails {
        width: 100%;
    }
    .right-container-favorite {
        margin-left: 0vw;
    }
    .eventdetails-cardsection_Bd {
        width: 100%;
    }
    .button, input, optgroup, select, textarea {
        font-size: 60%;
    }
    .booking-dtails-container {
        width: 100vw;
        margin-top: 10%;
        gap: 10%;
    }
    .eventdetails-tab {
        width: 100%;
    }
   
}