.bookmark-icon{
   margin-left: auto;
   color: green;
   cursor: pointer;
}
.event-details{
    margin-left: auto;
}
.right-container-favorite {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8vw;
}