.HostEvent_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HostEvent_Heading {
    margin-top: 28px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
}

.HeadingTitle9{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #00a35833;
    height: 50px;
}
.HeadingTitle9 div{
    width: 6px;
    height: 50px;
    border-radius: 4px;
    background-color: #00B562;
}
.HeadingTitle9 h2{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
}

.HostEvent_Row {
    display: flex;
    justify-content: space-between;
}

.HostEvent_Group {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 65px;
    justify-content: flex-start;
}
.HostEvent_Group label {
    color: #23272E;
    font-family: 'Inter';
    font-weight: 500;
}

.HostEvent_Group input {
    width: 100%;
    height: 100%;
    border: 1px solid #8794A9;
    background-color: #F6F7F9;
}
.HostEvent_Group select {
    width: 100%;
    height: 100%;
    border: 1px solid #8794A9;
    background-color: #F6F7F9;
}

#AddressBox{
    width: 100% ;
}

.buttons-container{
    width: 70%;
    justify-content: flex-end;
}