/* //error */

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.profile-formContainer_Inner{
  margin-bottom: 1rem;
}


/*-------------- Main Profile------------- */

.profile--Main-Box {
  height: auto;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  column-gap: 4rem;
  /* border: 2px solid red; */
  margin-block: 5vh;
}

.profile-form-Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}


.profile-leftside--Body {
  width: 100%;
  /* border: 2px solid black; */
}

.profile-about {
  font-size: 16px;
    font-weight: 600;
}

.profileTitle {
  width: 40vw;
}

.profile-view--Body {
  padding: 1.25rem;
  border-bottom-width: 2px;
  border-color: gray;
  /* margin: 0.94rem; */
}

.profile-button--Section {
  padding: 1.25rem;
}

.profile-button--Section>li {
  margin: 0.5rem 0;
}

.profile-button--Active {
  background-color: rgba(0, 181, 98, 1);
}

.profile-button--Section>li>a {
  display: flex;
  padding: 0.5rem;
  height: 6vh;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  background-color: #D9D9D9;
  font-weight: 500;
}


/* .profile-button--Section>li>a:hover {
  background-color: rgba(217, 217, 217, 1);
} */

.profile-button--Section li a:hover {
  background-color: green; /* Green background on hover */
  color: white; /* White text color on hover */
}

.profile-about-icon{
  display: flex;
  align-items: center;
  gap: 1vw;
}


/* .profilePhoto {
  display: flex;
  align-items: center;
} */

/* .profilePhoto button {
  border: 1px solid black;
  padding: 4px;
  border-radius: 8px;
} */

.profilePhoto {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  /* width: fit-content; */
}

.profilePhoto input {
  width: 12vw;
  margin-inline: 1vw;
}

.profilePhoto svg {

  height: 100px;
  width: 100px;
}

.profilePhoto button svg {
  height: 20px;
}

.profileIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.profileIcon button {
  border: 0.5px solid black;
  font-size: 11px;
  padding: 2px;
  border-radius: 4px;
}

/* button-section */
/* CSS */
.button-67 {
  align-items: center;
  /* background: #f5f5fa; */
  border-radius: 8px;
  display: flex;
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;

  text-align: left;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-67:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.profile-formContainer {
  width: 40vw;
}

.profile-formContainer input {
  height: 3vw;
}

.profile-formContainer select {
  height: 3vw;
}

.profile-rightside--Body {
  /* padding: 1.25rem; */
  flex: 1 1 0%;
  overflow: visible;
  /* padding: 10px; */
  /* box-sizing: border-box; */
}

.profile-rightside--Body>h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1.9rem;
  margin-bottom: 12px;
}

.profile-formContainer {
  margin-top: 1.2rem;
}

/* Style for form labels */
.profile-formContainer label,
.profile--Activity-Box>h2 {
  display: block;
  margin-bottom: 0.5rem;
  color: rgb(63, 63, 70);
  font-weight: 700;
  line-height: 1.25rem;
  font-size: 0.87rem;
}

.profileTitle {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.profileTitle>h3 {
  font-size: large;
  font-weight: bold;
}

.profile-formContainer input[type="text"],
.profile-formContainer input[type="email"],
.profile-formContainer input[type="password"],
.profile-formContainer select {
  width: 100%;
  padding: 0.5rem;
  /* margin-bottom: 1rem; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.profile--Activity-Box h2 {
  padding-inline: 60px;
}

.profile--Activity-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ProfileActButton {
  width: 20vw;
  margin-bottom: 6vh;
}

.profile--Activity-options {
  display: grid;
  margin-bottom: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1.4rem 4rem;
}

.profile--activityButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: #ccc;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.profile-button--Section {
  display: flex;
  flex-direction: column;
}

.activityButton.selected {
  background-color: #6ab04c;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}

/* Parent background */
@media (min-width: 1024px) {
  .profile--Main-Box {
    flex-direction: row;
    column-gap: 8rem;
  }

  .profile-leftside--Body {
    width: 17rem;
  }

  .profile-rightside--Body {
    /* align-items: center; */
    /* justify-content: center; */
    /* max-width: 44rem; */
    padding: 0 4rem;
    height: fit-content;
    /* border: 2px solid black; */
  }
}