/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.login-form {
  width: 25vw;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #2ec157;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #29a745;
}

.extra-options {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.extra-options a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
}

.extra-options a:hover {
  text-decoration: underline;
}

.divider {
  color: #ccc;
}

/* Styles for OTP buttons */
.otp-btn {
  width: 100%;
  /* Make buttons full width */
  margin-top: 10px;
  border: 1px solid #ddd;
  background-color: #00B562;
  color: #fff;
  padding: 10px 0;
  /* Increase padding for better tap targets */
  text-align: center;
  /* Center align button text */
  cursor: pointer;
  border-radius: 5px;
}