.header-role-specialevent {
  display: flex;
  height: 10vh;
  background-color: #d1dcd0;
  margin-top: 10%;
}
.toggle-text{
  font-size: medium;
  color: black;
}
.bauble_box{
  margin-top: 15px;
display: flex;
align-items: center;
}

/* Common styles for toggle */
.bauble_box .bauble_label {
  background: rgb(206, 230, 206);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 24px; /* Adjusted height */
  width: 48px; /* Adjusted width */
  position: relative;
  margin-left: 10px;
}

.bauble_box .bauble_label:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.bauble_box input.bauble_input {
  display: none;
}

.bauble_box input.bauble_input:checked + .bauble_label {
  background: rgb(48, 205, 74);
}

.bauble_box input.bauble_input:checked + .bauble_label:before {
  transform: translateX(24px); /* Adjusted width */
}

/* Label text */
.toggle-text {
  font-size: 14px; /* Adjusted font size */
  color: black;
  margin-left: 6px; /* Adjusted margin */
}

/* Hide the default checkbox */
.bauble_box .bauble_input {
  display: none;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .bauble_box .bauble_label {
    height: 20px;
    width: 40px;
  }

  .bauble_box .bauble_label:before {
    width: 16px;
    height: 16px;
  }

  .toggle-text {
    font-size: 12px;
    margin-left: 4px;
  }
}
.private-toggle-text{
  margin-left: 20px;
}
/* upload image and additional files */
.upload-section {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
 
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.upload-text {
  font-size: 16px;
  color: #555;
}

.file-list {
  margin-top: 20px;
}

.file-list h3 {
  margin-bottom: 10px;
}

.file-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-list li {
  margin-bottom: 5px;
}

/* Hidden input file */
.hidden {
  display: none;
}
.delete-uploadedfile-btn{
  color: red;
  float: right;
}

.upload-context{
  font-size:small;
  color: rgb(51, 50, 50);
  float: left;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}



