/* Disclaimer Container */
.disclaimer-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
 
    overflow: hidden;
    position: relative;
}

/* Disclaimer Title */
.disclaimer-title {
    font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  color: #444;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #028a19;
  padding-bottom: 15px;
  letter-spacing: 1.5px;
}

@keyframes slideInTitle {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Disclaimer Content */
.disclaimer-content {
    opacity: 0;
    animation: fadeInContent 1s ease forwards;
    animation-delay: 0.6s;
}

.disclaimer-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    color: #555;
    margin-top: 30px;
    border-bottom: 1px solid #019306;
    padding-bottom: 10px;
}
  
.disclaimer-content p {
    font-size: 1.1em;
    margin: 15px 0;
    text-align: justify;
}

@keyframes fadeInContent {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Disclaimer Footer */


